@font-face {
    font-family: 'Gilroy-Bold';
    src: url('gilory/Gilroy-Bold.ttf')format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('gilory/gilroy-semibold.ttf')format('truetype');
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('gilory/Gilroy-Medium.ttf')format('truetype');
}
@font-face {
    font-family: 'Poppins';
    src: url('poppins/Poppins-Light.ttf')format('truetype');
}

*{
    margin: 0%;
}

nav{
    display: flex;
    align-items: center;
    justify-content:stretch;
    column-gap: 150px;
    padding: 25px 25px 25px 65px;
    width: 100%;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    background-color: #FFFFFF;
    color: #555555;
    position: fixed;
    border: 1px solid #EBEBEB;
    z-index: 2;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    
}

.fynro{
    font-size: 18px;
    display: flex;
    align-items: center;
}

.fynro p{
    color: #383E54;
    padding-left: 5px;
}

.navigation{
    font-size: 17px;
    color: #555555;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 50px;
    padding-left: 80px;
}

.one:hover{
cursor: pointer;
color: #F8971F;
}

.buttons{
    display: flex;
    column-gap: 10px;
    font-size: 14px;
    font-weight: 500;
    float: right;
    
}
        
#login{
    /* margin-left: 200px; */
    color: #5978FF;
    background-color: white;
    border: 2px solid #5978FF;
    padding: 10px 22px;
    border-radius: 10px;
}
        
        
#login:hover{
    cursor: pointer;
    color: white;
    background-color: #5978FF;
}
        
        
#get{
    color: white;
    background-color: #5978FF;
    padding: 10px 22px;
    border-radius: 10px;
    border: none;
}

#get:hover{
    cursor: pointer;
    color: #5978FF;
    background-color: white;
    border: 2px solid #5978FF;
}

#content{
    background: linear-gradient(to right,#F8F4F3,#F7F9FF);  
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
    padding: 180px 132px;
}

.splash{
    padding-bottom: 455px;
}



#container1 h1{
    font-size: 48px;
    font-family: "Gilroy-Bold";
    display: inline;
}

.blue{ 
    color: #5978FF;
}

.line{
    margin-left: 250px;
    margin-top: 10px;
}


.text{
    color: #121214;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    padding-top: 30px;   
    letter-spacing: 1px;
    padding-right: 80px;
    line-height: 25px;
}


.verify{    
    font-family:  "Gilroy-Medium";
    font-size: 18px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 25px;
    color: #555555;
}


.explore{
    font-family: "Gilroy-SemiBold";
    font-size: 18px;
    margin-top: 60px;
    color: white;
    background-color: #5978FF;
    padding: 17px 36px;
    border-radius: 10px;
    border: none;
}

.explore:hover{
    cursor: pointer;
    color: #5978FF;
    background-color: white;
} 



#review{
    font-family: "Gilroy-SemiBold";
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    bottom: 1%;
    left: 30px;
    border-radius: 10px;
    padding: 20px 24px;
    background-color: white;
}


#container2{
    position: relative;
    padding-left: 150px;
}

.positive{
    background-color: white;
    margin-top: 10px;
}

.stars{
    display: flex;
}


#container3{

    display: flex;    
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#container3 h2{
    font-family: "Gilroy-Bold";
    font-size: 28px;
    text-align: center;
    padding-top: 100px;
}

.div3{
    position: relative;
}

#image-container{
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap:160px;
    margin-top: 50px;
}


.video-content{
    font-family: "Gilroy-SemiBold";
    color: white;
    background-color: #0D1226;
    border-radius: 0px 0px 10px 10px;
    padding: 30px;
    margin: 0%;
    /* margin-left: 250px; */
    width: auto;
}

.youtube{
    position: absolute;
    bottom: 320px;
    left: 700px;
}


.dots{
    margin: 0%;
    position: absolute;
    top: 1730px;
}

#container4{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    background-color: #F7F9FF;
    padding-top: 120px;
    position: relative;
    margin-top: 100px;
}

.header4{
    font-family: "Gilroy-Bold";
    text-align: center;
    font-size: 28px;
}

#bundle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    row-gap: 100px;
    font-family: "Gilroy-SemiBold";
    margin-top: 70px;
    padding: 0px 100px;
}

.cards{
    margin-left: 50px;
}

.cards img{
    margin: 0%;
}

.cards h3{
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
}

.cards p{
    color: #555555;
    font-size: 16px;
    text-align: left;
    margin-top: 15px;
    padding-right: 120px;
    line-height: 24px;
}


#container5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F9FF;
    padding: 100px 20px;
    position: relative;
    z-index: 1;
}

#container5 h2{
    font-family: "Gilroy-Bold";
    font-size: 28px;
    text-align: center;
    padding-top: 80px;
}

#meet{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 30px;
    padding: 50px 230px;
}

.advisors{
    position: relative;
    background-color: white;
    padding: 7px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.special{
    background: linear-gradient(to left,#F8F8F83D,#F8971F1F);
    font-family: "Poppins";
    font-size: 15px;
    margin-top: 10px;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
}

.special img{
    display: inline;
}

.special p{
    display: inline;
    margin-left: 5px;
}

.name{
    font-family: "Gilroy-SemiBold";
    font-size: 16px;
    padding-top: 20px;
    display: flex;
    gap: 70px;
}


.green{
    display: flex;
    align-items: center;
    font-size: 15px;
    background-color: #008545;
    border-radius: 4px;
    color: white;
    padding: 5px;
}

#ad2{
    margin-left: 30px;
}

#ad3{
margin-left: 90px;
}

.experience{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}


.experience p{
    color: #555555;
    font-size: 15px;
    font-family: 'Gilroy-Medium';
}

.credits{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 15px;
    background-color: #F7F9FF;
    border-radius: 12px;
    padding: 10px;
}


.credits div del{
    color: #555555;
    font-size: 13px;
    font-family: 'Gilroy-Medium';
}

.credits div p{
    font-size: 16px;
    font-family: 'Gilroy-SemiBold';
    margin-top: 5px;
}

.book{
    color: white;
    background-color: #5978FF;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}

.book:hover{
    color: #5978FF;
    background-color: white;
    cursor: pointer;
    border: 2px solid #5978FF;
}

.top{
    position: absolute;
    font-family: "Gilroy-SemiBold";
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 4px;
    color: #383E54;
    background-color: white;
    top: 20px;
    left: 20px;
}

.more{
    color: #5978FF;
    font-family: "Gilroy-SemiBold";
    font-size: 16px;
    margin-left: 650px;
}
.more:hover{

    cursor: pointer;
}

.more img{
    padding-left: 5px;
}

.fly{
    position: absolute; 
    top: 3285px;
    left: 60px;
}

#container6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    /* padding: 80px 230px; */
}



#container6 h2{
    font-family: "Gilroy-Bold";
    font-size: 28px;
    text-align: center;
}

#main{
    display: flex;
}

#submain1{
    padding-top: 30px;
}


.steps{
    padding: 40px 140px 0px  0px;
}

.steps span{
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 600;
    color: #008545;
    background-color: #CBF2E0;
    padding: 6px 12px;
    border-radius: 24px;
}

.steps h3{
    font-family: "Gilroy-SemiBold";
    font-size: 18px;
    padding-top: 25px;
}

.step-content{
    font-family: "Gilroy-Medium";
    font-size: 16px;
    color: #555555;
    padding-top: 15px;
    line-height: 25px;
}

#submain2{
    margin-top: 125px;
    position: relative;
}

.group{
    box-shadow: 0 0 20px #EEF1FF, 0 0 30px #EEF1FF;
    background: linear-gradient(to top,white,#EEF1FF);
    padding: 20px;
}

.graph{
    position: absolute;
    top: 80px;
    right: 35px;
}

#container7{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    padding: 200px 200px 100px 200px;
}


#container7 h2{
    font-family: "Gilroy-Bold";
    font-size: 28px;
    text-align: center;
}

#avatar-container{
    display: flex;
    text-align: center;
    padding-top: 50px;
    gap: 25px;
}

.avatars{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
}

.avatar-content{
    
    border-radius: 12px;
    padding-top:10px;
    padding-bottom:40px;
}

.avatar-content h3{
    font-family: "Gilroy-SemiBold";
    font-size: 20px;
    padding-top: 70px;
}

.avatar-content p{
    font-family: "Gilroy-Medium";
    font-size: 16px;
    color: #555555;
    padding: 50px;
    line-height: 25px;
}

.avatar-img{
    position: absolute;
    display: flex;
    top: 5px;
}

.green-star{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#avatar1{
    background-color: #F0F9FA;
}

#avatar2{
    background-color: #FFF5EC;
}

#avatar3{
    background-color: #ECF1FB;
}


