*{
    margin: 0%;
}

nav{
    display: flex;
    align-items: center;
    justify-content:stretch;
    column-gap: 120px;
    padding: 25px ;
    padding-left: 65px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #FFFFFF;
    position: fixed;
    border: 1px solid #EBEBEB;
    z-index: 2;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    
}

.fynro{
    font-size: 18px;
    display: flex;
    align-items: center;
}

.fynro p{
    color: #383E54;
    padding-left: 5px;
}

.navigation{
    font-size: 17px;
    color: #555555;
    display: flex;
    column-gap: 50px;
    padding-left: 80px;
}

.one:hover{
cursor: pointer;
color: #F8971F;
}

.buttons{
    display: flex;
    column-gap: 10px;
    font-size: 14px;
    font-weight: 500;
    
}
        
#login{
    /* margin-left: 200px; */
    color: #5978FF;
    background-color: white;
    border: 2px solid #5978FF;
    padding: 10px 22px;
    border-radius: 10px;
}
        
        
#login:hover{
    cursor: pointer;
    color: white;
    background-color: #5978FF;
}
        
        
#get{
    color: white;
    background-color: #5978FF;
    padding: 10px 22px;
    border-radius: 10px;
    border: none;
}

#get:hover{
    cursor: pointer;
    color: #5978FF;
    background-color: white;
    border: 2px solid #5978FF;
}

#content{
    background: linear-gradient(to right,#F8F4F3,#F7F9FF);  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 210px 150px;
}

.splash{
    position: absolute;
    top: 190px;
    left: 115px;
    margin: 0%;
}

.container1{
    padding-right: 170px;
}

.text{
    font-family: "Gilroy-Medium",sans-serif;
    font-size: 18px;
    margin-top: 30px;   
    letter-spacing: 1px;
    padding-right: 60px;
    line-height: 25px;
}

h1{
    font-size: 48px;
    font-family: "Gilroy-Bold", sans-serif;
    display: inline;
}

.blue{
    color: #5978FF;
}

.line{
    display: block;
    margin-left: 250px;
    margin-top: 10px;
}



.verify{    
    font-family:  "Gilory-Medium",sans-serif;
    font-size: 18px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555555;
    padding-right: 200px;
}


.explore{
    font-family: "Gilroy-SemiBold",sans-serif;
    font-size: 18px;
    margin-top: 60px;
    color: white;
    background-color: #5978FF;
    padding: 17px 36px;
    border-radius: 10px;
    border: none;
}

.explore:hover{
    cursor: pointer;
    color: #5978FF;
    background-color: white;
}



#review{
    font-family: "Gilroy-SemiBold",sans-serif;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    left: 850px;
    bottom: 70px;
    border-radius: 10px;
    padding: 20px 24px;
    background-color: white;
}



.positive{
    background-color: white;
    margin-top: 10px;
}

.stars{
    display: flex;
}



#container3 h2{
    font-family: "Gilroy-Bold",sans-serif;
    font-size: 28px;
    text-align: center;
    margin-top: 100px;
    
}

#image-container{
    position: relative;
    display: grid;
    grid-template-columns: 1px 1178px 1px;
    margin-top: 50px;
}

.images{
    margin-left: 250px;
}

#border1{
    margin: 0%;
}

.video-content{
    font-family: "Gilroy-SemiBold",sans-serif;
    color: white;
    background-color: #0D1226;
    border-radius: 0px 0px 10px 10px;
    padding: 30px;
    margin: 0%;
    margin-left: 250px;
    width: 81.7%;
}

.youtube{
    position: absolute;
    bottom: 320px;
    left: 700px;
}


.dots{
    margin: 0%;
    margin-top: 30px;
    position: absolute;
}

#container4{
    background-color: #F7F9FF;
    height: 100%;
    padding-top: 120px;
    margin-top: 80px;
    position: relative;
}

.header4{
    font-family: "Gilroy-Bold",sans-serif;
    text-align: center;
    font-size: 28px;
}

#bundle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    row-gap: 100px;
    font-family: "Gilroy-SemiBold",sans-serif;
    margin-top: 70px;
    padding: 0px 100px;
}

.cards{
    /* border: 2px solid black; */
    margin-left: 50px;
}

.cards img{
    margin: 0%;
}

.cards h3{
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
}

.cards p{
    color: #555555;
    font-size: 16px;
    text-align: left;
    margin-top: 15px;
    padding-right: 120px;
    line-height: 24px;
}


#container5{
    background-color: #F7F9FF;
    padding: 100px 20px;
    position: relative;
    z-index: 1;
}

#container5 h2{
    font-family: "Gilroy-Bold",sans-serif;
    font-size: 28px;
    text-align: center;
}

#meet{
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    padding: 50px 230px;
}

.advisors{
    position: relative;
    background-color: white;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* width: 62%; */
}

.special{
    background: linear-gradient(to left,#F8F8F83D,#F8971F1F);
    font-family: "Poppins",sans-serif;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    /* width: 95%; */
}

.special img{
    display: inline;
}

.special p{
    display: inline;
    margin-left: 5px;
}

.name{
    font-family: "Gilroy-SemiBold",sans-serif;
    font-size: 16px;
    margin-top: 20px;
}

.name p{
    display: inline;
}

.green{
    font-size: 15px;
    background-color: #008545;
    border-radius: 4px;
    color: white;
    margin-left: 70px;
    padding: 5px;
}

#ad2{
    margin-left: 100px;
}

#ad3{
margin-left: 160px;
}

.experience{
    margin-top: 10px;
}

.experience img{
    display: inline;
    margin-top: 5px;
}

.experience p{
    display: inline;
    color: #555555;
    font-size: 15px;
    font-family: 'Gilory-Medium',sans-serif;
    margin-left: 5px
}

.credits{
    display: flex;
    align-items: center;
    margin-top: 15px;
    background-color: #F7F9FF;
    border-radius: 12px;
    padding: 10px;
}

.credits div{
    display: inline-block;
    /* padding-top: 5px; */
    /* margin-top: 10px; */
}

.credits div del{
    color: #555555;
    font-size: 13px;
    font-family: 'Giolry-Medium',sans-serif;
}

.credits div p{
    font-size: 16px;
    font-family: 'Giolry-Semibold',sans-serif;
    margin-top: 5px;
}

.book{
    display: inline-block;
    color: white;
    background-color: #5978FF;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 100px;
    border: none;
}

.book:hover{
    color: #5978FF;
    background-color: white;
    cursor: pointer;
    /* border: 2px solid #5978FF; */
}

.top{
    position: absolute;
    font-family: "Gilroy-SemiBold",sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 4px;
    color: #383E54;
    background-color: white;
    top: 20px;
    left: 20px;
}

.more{
    color: #5978FF;
    font-family: "Gilroy-SemiBold",sans-serif;
    font-size: 16px;
    margin-left: 650px;
}
.more:hover{

    cursor: pointer;
}

.more img{
    padding-left: 5px;
}

.fly{
    position: absolute; 
    top: 3300px;
    left: 60px;
    /* right: 1px; */
    /* rotate: 25deg; */
}

#container6{
    padding: 80px 230px;
    /* position: relative; */
}



#container6 h2{
    font-family: "Gilroy-Bold",sans-serif;
    font-size: 28px;
    text-align: center;
}

#main{
    display: flex;
}

#submain1{
    padding-top: 30px;
}


.steps{
    padding: 40px 140px 0px  0px;
}

.steps span{
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #008545;
    background-color: #CBF2E0;
    padding: 6px 12px;
    border-radius: 24px;
}

.steps h3{
    font-family: "Gilroy-SemiBold",sans-serif;
    font-size: 18px;
    padding-top: 25px;
}

.step-content{
    font-family: "Gilroy-Medium",sans-serif;
    font-size: 16px;
    color: #555555;
    padding-top: 15px;
    line-height: 25px;
}

#submain2{
    margin-top: 125px;
    position: relative;
}

.group{
    box-shadow: 0 0 20px #EEF1FF, 0 0 30px #EEF1FF;
    background: linear-gradient(to top,white,#EEF1FF);
    padding: 20px;
    /* background-color: black; */
}

.graph{
    position: absolute;
    top: 80px;
    right: 35px;
}